<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoListeningForUnipus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoListeningForUnipus.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://ucontent.unipus.cn/_pc_default/pc.html?#/course-v1:Unipus+nsce_2_rcls_3+2018_03/courseware/u1/u1g19/u1g20/u1g21/p_1</value>
            </setting>
        </AutoListeningForUnipus.Properties.Settings>
    </userSettings>
</configuration>